<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    
    <title>Pitagoras</title>
</head>
<body>
    <header><div class="pitagoras"><h1>Pitágoras</h1></div></header>
    <main>
        <div id="app">
            <div class="inputs">
                <div class="cateto">
                    <span>Cateto y</span>
                    <input type="text" value="1" name="cateto1" v-model="cateto1">
                </div>
                <div class="cateto">
                    <span>Cateto x</span>
                    <input type="text" value="1" name="cateto2" v-model="cateto2">                    
                </div>

            </div>
            <div class="outputs">
                <div class="hipotenusa">
                    <div>Hipotenúsa</div>
                    <output>{{ hipotenusa() }}</output>                  
                </div>
            </div> 
    
            <canvas id="triangle" width="900" height="900" />
        </div>

        <section>
            <div class="sobre">
                <p>
                    <strong>Pitácgoras de Samos</strong> foi um dos grandes filósofos pré-socráticos e matemáticos da Grécia Antiga.
                </p>
                <p>
                    Segundo ele “tudo é número”, frase que indica uma explicação para a realidade e tudo que existe no mundo. A ele foi atribuído o uso e criação dos termos “filósofo” e “matemática”.
                </p>

                <p>Pitágoras nasceu na ilha grega de Samos, na costa jônica, em 570 a.C. Estudou matemática, astronomia, música, literatura e filosofia na sua cidade natal.</p>

                <p>Foi orientado na cidade grega de Mileto por um dos maiores filósofos pré-socráticos: Tales de Mileto.</p>

                <p>No entanto, suas ideias revolucionárias para a época o levaram a ser perseguido. Nesse momento, mudou-se para Crotona (sul da Itália), região conhecida como Magna Grécia.</p>

                <p>Foi ali que fundou uma escola de caráter místico-filosófico que ficou conhecida como “Escola Pitagórica”.</p>

                <p>Entretanto, foi perseguido novamente, deixando Crotona e partindo para o Egito, onde ao observar as pirâmides, criou o Teorema de Pitágoras.</p>

                <p>O filósofo faleceu em Metaponto, na região sul da Itália, em 490 a.C. com aproximadamente 80 anos.</p>

            </div>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/YompsDlEdtc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </section>

    </main>


    <script src="main.js"></script>
</body>
</html>