<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    
    <title>Pitagoras</title>
</head>
<body>
    <div id="app">
        <input type="text" value="1" name="cateto1" v-model="cateto1">
        <input type="text" value="1" name="cateto2" v-model="cateto2">

        <br>

        {{ hipotenusa() }}

        <br>

        <canvas id="triangle" width="250" height="200" />
    </div>


    <script src="main.js"></script>
</body>
</html>